<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <img
        src="https://www.shutterstock.com/image-photo/cybersecurity-privacy-concepts-protect-data-600nw-2268386621.jpg"
      />
      <h3>Login</h3>
      <form style="text-align: center" method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label for="username" class="form-label">Nome de Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" name="password" />
        </div>

        {% if incorrect_login %}

        Nome de Usuário ou Senha Incorretos!

        {% endif %}

        <button type="submit" class="btn btn-dark bt-lg">Logar</button>

        <br /><br />
        <h6>
          Usuário não Cadastrado?
          <a href="/cadastro" style="color: black"
            >Clique aqui para criar conta</a
          >
        </h6>
      </form>
    </div>
  </body>
</html>
